<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="connstring" connectionString="server=10.136.65.49;database=ACME;uid=hssa;pwd=HS$admin1"
    providerName="System.Data.SqlClient" />
   <add name="EmailServerAddress" connectionString ="10.136.65.58"/>
    <add name="EmailFrom" connectionString ="hs_sender@hs.unimicron.com"/>
    <!--<add name="EmailServerAddress" connectionString ="10.112.65.76"/>
    <add name="EmailFrom" connectionString ="ERP_HelpDesk@suz.unimicron.com"/>-->
    <add name="EmailBCc" connectionString ="H170236@hs.unimicron.com"/>
  </connectionStrings>
  <!--<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>-->

  <system.web>
    <httpRuntime maxRequestLength="102400" useFullyQualifiedRedirectUrl="true" executionTimeout="900" />
  </system.web>
</configuration>